[2015-07-24 00:47] luisdalves opened #1 "Error installing sensu-plugins-postgres"
I'm getting the following error when I try to install sensu-plugins-postgres

[code]

[code]

[2015-07-24 01:49] tas50 commented on #1
This is an omnibus issue that's discussed here in the context of chef.  There's no fix at the moment though

https://github.com/hw-cookbooks/postgresql/issues/212

[2015-07-29 23:47] NeckBeardPrince commented on #1
So pretty much if you use the embedded ruby with Sensu this plugin will not work?

[2015-07-30 00:09] tas50 commented on #1
At the moment yes

[2015-07-30 00:52] NeckBeardPrince commented on #1
_sigh_ and the issue is closed..

[2015-07-30 13:01] mattyjones commented on #1
I am actually going to leave it open for now as this question is asked quite frequently.

[2015-07-30 13:54] luisdalves commented on #1
anybody know if is there any alternative to this gem or script to retrieve postgres metrics?

[2015-10-02 08:36] cintiadr commented on #1
I'm having the same issue. Apparently this is caused by this:
https://groups.google.com/forum/#!topic/ruby-pg/oCo8hDHR16A

Using Ubuntu 12.04, which provides only ruby 1.8.7 (the 1.9.3 sub-version unfortunately is not supported by puppet).
I think the only solution I could use now is install pg gem in system ruby (version 0.17.1) together with sensu-plugin gem, and make the checks use system ruby

[2015-10-05 23:14] eheydrick commented on #1
I was able to get the pg gem installed into the sensu embedded ruby install by adapting chrisroberts' ruby recipe from the postgresql cookbook. This workaround links the pg gem against the openssl included in the embedded sensu ruby rather than the system one. This is definitely not ideal but it does allow the use of the postgresql plugins.

https://gist.github.com/eheydrick/c16f85f7ab8a2a9d3c5d

[2015-10-06 00:40] luisdalves commented on #1
@eheydrick thanks, I will try it.

[2015-11-25 11:37] vmihailenco opened #7 "check-postgres-replication.rb has 2 options with same name "-s""
[code]

and

[code]

[2015-12-10 11:52] analytically commented on #7
Fixed.

[2015-12-10 11:52] #7 closed

[2015-12-17 00:48] Salamek opened #9 "Can you pls use ini file for username/password in check-postgres-alive.rb[and everywhere else] ?"
As is used in mysql implementation https://github.com/sensu-plugins/sensu-plugins-mysql/blob/master/bin/check-mysql-alive.rb

This password and username is everywhere when used as command parameter, logs, etc (yes i use special user for this, but i dont like it anyway)

[2015-12-17 07:04] eheydrick commented on #9
postgresql has a pgpass file - I'd take a PR that added support for that. http://www.postgresql.org/docs/9.4/static/libpq-pgpass.html

[2016-02-26 19:41] eheydrick commented on #1
Another approach is to build the postgresql client into the sensu embedded directory. This gets postgresql linked against sensu's openssl and avoids issues trying to use the system postgresql and openssl. This chef recipe will accomplish this: https://gist.github.com/eheydrick/f337643bdca1bb70c453

[2016-03-31 09:52] HenryCook commented on #9
I've written something similar to what you've requested, however I'm utilising a YAML file for creds as opposed to an ini file. You can find my gist [here](https://gist.github.com/HenryCook/cbce318a17eca3504d71ecd185673a6c). I've pretty much copied the [check-mysql-alive.rb](https://github.com/sensu-plugins/sensu-plugins-mysql/blob/master/bin/check-mysql-alive.rb) check.

The YAML file will need t

[2016-05-11 13:18] delhora commented on #1
Hello there

I've been googling arround trying to find a solution but I can't still install plugin.

Any hints?

As far I can see it's something about sensu openssl and system's one, but I can't find the key

Thanks!

EDIT: I "solved" using ruby from the system, not the most clean way, but well... Still appreciate if anyone had any  hint :)

[2016-05-13 02:05] cintiadr commented on #1
@delhora I did the same 'fix', used the system ruby for only this single sensu plugin.

[2016-06-20 03:49] TJC commented on #1
+1 for hitting this bug :(

[2016-06-29 02:20] csmithATsquiz opened #12 "No way of making a script timeout"
There is no way to make a script timeout after a few seconds in case of broken settings or missing firewall rules.

[2016-06-29 02:24] csmithATsquiz commented on #12
See https://github.com/sensu-plugins/sensu-plugins-postgres/pull/13 .

[2016-07-13 03:43] #12 closed

[2016-08-14 03:26] chrisduong opened #15 "A lot of inconsistent argument use of "database name""
Hi,

In `check-postgres-alive`, it is **database** argument.

[code]

But in other checks, such as `metric-postgres-locks`, it is **db**, while the **con** object is still calling _config[:database]_, so the check would **fail**, as _config[:database] is **nil**.

[code]

I've spotted a lot of this problem in other checks as well, I'm willing to make a pull request if we agree to use **database**

[2016-08-18 16:46] mnietz opened #16 "max_connections"
The plugin: check-postgres-connections.rb uses max_connections to measure the available client-connections. To be more precise you should use max_connections - superuser_reserved_connections as the amount of available connection for non-super-users.

[code]

[code]

[2016-08-18 17:04] mnietz opened #17 "check-postgres-connections -w AND -c"
When i try to specify -w and -c together the plugin reports a warning state when it should report a critical one.

Example:

[code]

Specifying only -w or -c works as expected. It doesn't make any difference using -a or not.

Sensu: 0.25.7 latest version of the plugin.

[2016-09-17 05:22] z-matth commented on #1
+1

[2016-09-20 11:56] teadur commented on #1
+1

[2016-10-19 17:10] alex-pw commented on #17
Thanks for the great plugins!  I can confirm this behavior.  Critical value needs to be checked prior to warning value.  Workaround is to use only -c as @mnietz reports.

[2016-12-06 21:32] chrisferry opened #21 "check-postgres-connections does not work with 9.6"
In 9.6 they've replaced the waiting column in pg_stat_activity with 2 columns wait_event and wait_event_type

Check failed to run: ERROR: column "waiting" does not exist
LINE 1: select count(*), waiting from pg_stat_activity where datname...
^
, ["/var/lib/gems/2.2.0/gems/sensu-plugins-postgres-0.1.1/bin/metric-postgres-connections.rb:83:in `exec'", "/var/lib/gems/2.2.0/gems/sensu-plugins-postgres

[2016-12-27 20:21] eheydrick commented on #16
Good suggestion. I'd take a PR changing that.

[2016-12-27 22:13] eheydrick commented on #21
Fixed with https://github.com/sensu-plugins/sensu-plugins-postgres/pull/22 and released in [1.0.0](https://rubygems.org/gems/sensu-plugins-postgres/versions/1.0.0).

[2016-12-27 22:13] #21 closed

[2017-01-04 18:34] wilson496 opened #23 "Mismatch of parameter names for "count_tuples" option."
The count_tuples option for this script is never checked. However, there is a check for an option named "check_tuples", which is never initialized.

This makes the script fail, since rather than checking the number of tuples it, it will attempt to grab the first tuple of an empty PG::Result list.

Any assistance is appreciated.

[2017-01-04 20:45] eheydrick commented on #23
Whoops, that is an oversight. I pushed a fix in 32d71ed37315e33c01368054789829b45015ac19 and will release it in a new version shortly.

[2017-01-04 20:53] eheydrick commented on #23
Fix is in 1.0.1, now live on rubygems. Thanks for submitting the issue!

[2017-01-04 20:53] #23 closed

[2017-01-12 15:33] nevins-b commented on #17
This is addressed in #24

[2017-01-18 23:22] Hypnocrit commented on #1
+1

[2017-01-30 21:51] foozmeat opened #25 "custom port is no longer used in connection method"
Looks like refactor of the connection method (f4179d446949a0a678233fffb3e2904eca35bf7c)  dropped support for using a custom port. Was this intentional?

[2017-02-16 07:15] madboxkr opened #26 "bug count of metric-postgres-locks.rb"
https://github.com/madboxkr/sensu-plugins-postgres/pull/1/files
Please see this changement
A count is never returned correct values on monitoring after use "group by" on request.
Please fix this issue on your code.

[2017-02-28 15:21] stefan-as commented on #1
Since nearly two years there is this bug that makes it impossible to install this sensu-plugin? C'mon, really?

[2017-03-09 12:11] upadhyay-prashant commented on #1
+1

[2017-03-10 16:17] bjornkl commented on #1
+1

[2017-03-15 12:11] #25 closed

[2017-03-17 12:13] asifmuradkhan commented on #1
@eheydrick

I'm getting following error when I try to run metric-postgres-graphite.rb, but when I run check-postgres-replication.rb shows ok.

[code]
[code]

[2017-03-23 12:03] teadur commented on #1
For people not using Chef, i made the @eheydrick 's second solution to simple commands:
https://gist.github.com/teadur/1b257022fd018888c5e9ed35d488df7f

[2017-03-27 08:23] asifmuradkhan commented on #1
@teadur could you please check my issue, thanks.

[2017-03-27 22:01] teadur commented on #1
@asifmuradkhan https://github.com/sensu-plugins/sensu-plugins-postgres/pull/28 this should fix it

[2017-03-29 08:23] jothoma1 commented on #1
Hi
Using Puppet i cannot install sensu-plugins-postgres ...
Same error
This bug is open since 2 years, is there a workaround to deploy this plugin with puppet ?
Thanks

[2017-04-12 03:01] zakir-hyder commented on #1
@jothoma1 the fix is merged https://github.com/sensu-plugins/sensu-plugins-postgres/commit/028ccecc73cca5c68a49e8ab98c03b11b1d1a0b1.

[2017-04-20 18:59] eheydrick commented on #26
Hi @madboxkr, thanks for noticing the issue and coming up with a fix. Could you open a PR in this repo and we'll get your fix in.

[2017-05-10 16:43] mikerev commented on #1
@eheydrick thanks for a reasonable solution for now.

[2017-05-24 14:52] jothoma1 commented on #1
@zakir-hyder I dont know why but i still can't install it ? same error.

[2017-05-24 19:36] majormoses commented on #1
@jothoma1 did you try the workarounds described?

- https://github.com/sensu-plugins/sensu-plugins-postgres/issues/1#issuecomment-189448326
- https://gist.github.com/eheydrick/c16f85f7ab8a2a9d3c5d

[2017-06-03 07:20] majormoses commented on #17
closed per https://github.com/sensu-plugins/sensu-plugins-postgres/pull/24

[2017-06-03 07:20] #17 closed

[2017-06-03 07:21] majormoses commented on #15
closed per https://github.com/sensu-plugins/sensu-plugins-postgres/issues/18

[2017-06-03 07:21] #15 closed

[2017-06-03 07:25] majormoses commented on #9
While I would prefer using pgpass as @eheydrick proposed but I would accept any reasonable contribution that removes creds from a cli arg.

[2017-07-04 05:24] majormoses commented on #26
it looks like that branch just needs to be rebased against upstream and create a pr. If someone else wants to take this it should be fairly trivial to do this.

[2017-07-26 04:37] majormoses commented on #16
fixed in #34

[2017-07-26 04:37] #16 closed

[2017-08-03 14:35] marcinhlybin commented on #9
Hi,

I added pgpass file and PG* variables support.
You can get it from my repository fork:
https://github.com/ahes/sensu-plugins-postgres/commit/3d7d71d2e5c754b3da54aaca91098faa3cc0c7eb

Pull request created. I didn't run or altered any tests.

## Sample usage

Set pgpass path with `-f`. By default ~/.pgpass is read if exists.

[code]

Use env variables to set password and database.

[code]

Enjo

[2017-08-03 15:17] majormoses commented on #9
@ahes any chance you could PR it?

[2017-08-04 18:35] marcinhlybin commented on #9
Changes have been merged: https://github.com/sensu-plugins/sensu-plugins-postgres/commit/b52d7ea3c7324616f5d8743f71e36d76c33d8c4f

@Salamek @majormoses You can close the issue.

[2017-08-04 20:04] majormoses commented on #9
closed via #36

[2017-08-04 20:04] #9 closed

[2017-08-05 08:05] marcinhlybin commented on #1
I added explanation why it happens to the README: https://github.com/sensu-plugins/sensu-plugins-postgres/blob/master/README.md#known-issues

Working solution is to install sensu-plugins-postgres gem system-wide outside embedded ruby.

[2017-08-14 16:12] mrtrotl commented on #1
Hi, i prepared package for ubuntu to install libpg to embedded ruby in sensu. This package makes pg gem installation possible. It was compiled against sensu v1.0.2.

https://github.com/mrtrotl/sensu-pg/releases

[2017-08-14 16:57] majormoses commented on #1
@mrtrotl that looks awesome from a quick glance, I will take a closer look when I have some time, After trying it out I will add something about this in the readme. Any chance you might be willing to work on an RPM for EPEL based distros?

[2017-08-14 18:43] majormoses commented on #1
@mrtrotl also would you like for us to transfer this over to the plugins org so its easy for people to find? I would certainly make you an external collaborator on it if you wanted to continue to maintain it.

[2017-08-14 20:37] mrtrotl commented on #1
@majormoses I would like to transfer this to the plugins org and maintain it, but I don't have much experiences with rpm packaging. However, I can try it.

[2017-08-14 21:10] majormoses commented on #1
@mrtrotl Please create an issue here: https://github.com/sensu-plugins/community/issues/new and I will follow up with some instructions on how to transfer it.

[2017-08-15 12:56] Chrisbuuren commented on #1
**yum install postgresql-devel**  solved my problem

[2017-08-15 12:58] mrtrotl commented on #1
@Chrisbuuren Are you using embedded ruby? Or system ruby?

[2017-08-15 12:59] mrtrotl commented on #1
@majormoses Thanks, I have created an issue few minutes ago.

[2017-08-15 13:01] Chrisbuuren commented on #1
@mrtrotl i am using embedeed, and with puppet automation, apparently when i installed psql i didn't installed psql-devel...

[2017-08-15 13:10] mrtrotl commented on #1
@Chrisbuuren It' is interesting. I don't have much experiences with EPEL distros. In debian based distros is problem with incompatibility of sensu openssl and system libpg. Is there any possibility, that sensu is using same openssl as the CentOS/RHEL?

[2017-08-15 13:17] Chrisbuuren commented on #1
_OpenSSL 1.0.1e-fips_ this is what i use in Centos7...i don't know what debian machines use..or i don't understand the question

[2017-08-15 14:09] mrtrotl commented on #1
The question was about openssl library in sensu and in CentOS, if that libraries are same (version, compile options).  I have no other explanation of why it works in centos with system libpg and does not work in debian based distros.

[2017-08-16 14:57] mikerev commented on #1
So is the official hack for this to patch embedded sensu or install against a system gem? Surprisingly I'm finding it more hackish to integrate the system-wide installed plugins with our existing Chef deployed sensu framework that leverages the Sensu cookbook in creating config files, etc. Maybe I misinterpreted the README? I've spent a lot of time getting these plugins to just work and I'm not su

[2017-08-16 15:19] mrtrotl commented on #1
@mikerev It is debian package, which integrates libpg into embedded sensu environment. This package make installation of pg gem to embedded ruby possible.

[2017-08-16 15:25] mikerev commented on #1
@mrtrotl Understood, thank you for your contribution. The question I'm raising is that patching embedded is not what is recommended according to the README. It would be good to clear up confusion as to what the best approach is to get around this long-standing issue. I understand the purpose of the .deb (it just wraps what I have already codified in Chef) but it doesn't seem like there's any conse

[2017-08-17 06:33] majormoses commented on #1
@mikerev yup, that was prior to someone dedicating the time to have a better solution. Now we have one and we should update it. I have transferred over the repo and will update the documentation that for debian based systems the new prefered method is to use the deb, for epel based systems until someone dedicates the time to make an rpm the old method works. I will probably get to that this weeken

[2017-08-18 12:35] mikerev commented on #1
@majormoses sounds good, thanks.

[2017-08-18 13:24] mikerev commented on #1
@majormoses @mrtrotl it looks like this will not work for people using the apt repo on Ubuntu 14.04 due to the minimum version requirement for sensu.

[2017-08-18 13:33] mrtrotl commented on #1
@majormoses That's true, this package was compiled against sensu 1.0.2. It should be possible to build package against older version, but You need to change dependencies in control file. I will try to find a way how to define the dependencies dynamically.

[2017-09-27 03:55] majormoses commented on #26
I pulled the patch into #39

[2017-09-27 23:21] #26 closed

[2017-09-27 23:28] eheydrick commented on #26
Released in 1.4.2: https://rubygems.org/gems/sensu-plugins-postgres/versions/1.4.2

[2017-09-27 23:29] eheydrick commented on #26
Thanks for the fix @madboxkr and @majormoses for getting it in!

[2017-10-18 16:05] opusmagnum opened #40 "Postgres 10 support: `ERROR: function pg_current_xlog_location() does not exist`"
After PostgreSQL upgrade to version 10.0 I got the following error:
[code]

The reason for is -- functions `pg_current_xlog_location` is renamed to `pg_current_wal_lsn`. More about new function names -- https://wiki.postgresql.org/wiki/New_in_postgres_10#Renaming_of_.22xlog.22_to_.22wal.22_Globally_.28and_location.2Flsn.29
My workaround for now would be:
[code]

Did anybody find a better solution

[2017-10-28 17:23] majormoses commented on #40
Thanks for reporting! I can think of two paths forward:
- detect version and conditionally make the request
- attempt new function and fallback to old function

This could be parsed to pull out the major version for a conditional check to issue the appropriate command:
[code]

Alternatively we attempt calling new function and rescue to older as fallback:
[code]

[2017-11-03 17:29] phumpal commented on #40
I was bit by this a few weeks ago after upgrading to PostgreSQL 10.

@majormoses I've submit a PR as a potential fix. It will need to be rebased but the second commit is more idiomatic Ruby. PTAL.

[2017-11-03 18:03] majormoses commented on #40
@phumpal thanks for picking this up I have left some comments.

[2017-11-07 08:02] phumpal commented on #40
@opusmagnum try the [1.4.3](https://rubygems.org/gems/sensu-plugins-postgres/versions/1.4.3) release?

[2017-11-07 09:38] opusmagnum commented on #40
Thank you for the fix, I will try the new version in the next days and let you know.

[2017-11-08 09:59] edevreede commented on #40
I think this change breaks on PostgreSQL 9. It gives the following error on my Debian 9 install which has 9.6.4-0+deb9u1 installed. When I revert the change the plugin works fine!

[code]

[code]

[2017-11-08 10:24] majormoses commented on #40
Hmm I will try to replicate this today or tomorrow.

[2017-11-08 10:59] majormoses commented on #40
Ya looking at the code there is definitely something wrong there, its 3 AM and I don't think I am gonna find whats wrong. Maybe after some sleep I will be able to spot what is wrong. For now I am gonna yank it from rubygems to prevent anyone from downloading that version anymore.

[2017-11-08 11:03] majormoses commented on #40
https://rubygems.org/gems/sensu-plugins-postgres
![image](https://user-images.githubusercontent.com/3145127/32545712-6de6f1c6-c431-11e7-944e-272d2a157e48.png)
https://rubygems.org/gems/sensu-plugins-postgres/versions/1.4.3
![image](https://user-images.githubusercontent.com/3145127/32545681-593ece56-c431-11e7-80f9-871c4bd4f9c3.png)

[2017-11-08 11:05] majormoses commented on #40
This is why we need real integration tests.

[2017-11-08 21:30] phumpal commented on #40
Agreed and completely my fault.

My 9.6.5 instances were already terminated before I pushed https://github.com/sensu-plugins/sensu-plugins-postgres/pull/41/commits/7fcf024f5bea6c45438a54171a3312236d3878da so I wasn't able to test.

Yep, trivial change and something I should've caught.

PR forthcoming.

[2017-11-09 01:13] majormoses commented on #40
@phumpal any chance you'd be willing to write some integration tests if I stand up the skeleton with `test-kitchen`, `kitchen-docker`, and `servespec`? If you want an example you can take a look at https://github.com/sensu-plugins/sensu-plugins-dcos.

[2017-11-09 01:14] majormoses commented on #40
released: https://rubygems.org/gems/sensu-plugins-postgres/versions/1.4.4

[2017-11-09 02:28] phumpal commented on #40
@edevreede @opusmagnum mind testing 1.4.4 w/your pg 9.x versions?

@majormoses certainly.

The next couple of weeks are pretty busy but I'd be happy to take a stab if someone else doesn't get to it first.

[2017-11-09 08:37] majormoses commented on #40
@phumpal I opened #43 which lays the groundwork for testing but is a bit rough. I think it is a decent starting place though. At the moment I am only testing PG 10 and hopefully we can add testing both in a matrix style for each version.

[2017-11-09 16:10] edevreede commented on #40
Works fine now, thanks! I will not have time for the integration tests soon though.

[code]

[2017-11-09 18:50] majormoses commented on #40
Awesome Thanks @phumpal for fixing this up. We can make small steps towards more testing over time. I can help laying down the framework but ultimately I don't have the time to write integration tests for ~200 plugins by myself in my "free time" so it will need to be a community effort.

[2017-11-10 17:08] opusmagnum commented on #40
I have removed function aliases, which were created as a workaround, and tested version 1.4.4 of the plugin with PostgreSQL 10.0. It works fine.
@edevreede tested it already with PostgreSQL 9.6.4. This issue can be closed. Thanks to all participated!

[2017-11-10 17:08] #40 closed

[2017-11-28 04:23] Viralshah009 commented on #40
Upgrading the servers to postgres 10 breaks datadog with this error. I raised this issue with the datadog team and they provided the following workaround that worked for me. I hope it does for you guys too. Run the following as a root user on your Linux terminal:

[code]

You can restore the original version of this integration with:

[code]

[2017-11-28 18:04] majormoses commented on #40
@Viralshah009 which scripts are breaking? Please open up a new issue with the information so we can track and understand the changes that needed to be made.

[2018-02-15 19:55] henkjan opened #44 "Custom port for replication metrics is not used for the slave"
The metric-postgres-graphite plugin doesnt use the custom port for both the master and the slave as opposed to the check-postgres-replication

[2018-02-15 20:00] henkjan commented on #44
PR https://github.com/sensu-plugins/sensu-plugins-postgres/pull/45

[2018-02-16 04:04] majormoses commented on #44
fixed via #45

[2018-02-16 04:04] #44 closed

[2018-02-20 20:44] henkjan opened #47 "custom metric naming scheme is not used for all plugins"
custom metric naming scheme is not used for all plugins

fix in #46

[2018-02-22 23:08] itdevon commented on #1
@majormoses looks like if you just install the postgresql96-devel rpm package like @Chrisbuuren mentioned, the gem install works fine. Not sure if this is a late reply :)

[2018-02-23 00:45] majormoses commented on #1
Never too late the removed labels was due to a label migration. That might work for epel but debian based installs still need the custom package mentioned from my understanding.

[2018-03-06 14:30] arthurlogilab opened #49 "Support for comments in pgpass"
If there are comments in .pgpass the information there is not used. It would be nice to ignore lines starting with "#" which is supported by the .pgpass file format.

[2018-05-01 22:05] jfineberg opened #50 "check-postgres-replication fails on version check with some build formats"
Seems like the Ubuntu build of PostgreSQL that I got has an unusual version string when performing `SELECT current_setting('server_version')` and the check script returns this error:

[code]

[2018-05-01 22:07] jfineberg commented on #50
#51 Should address this issue and also be backwards-compatible with older versions of Postgres or builds without the build version.

[2018-05-03 08:21] majormoses commented on #50
closed via #51

released: https://rubygems.org/gems/sensu-plugins-postgres/versions/1.4.6

[2018-05-15 09:36] jfineberg opened #52 "Postgres 10.x not supported in metric-postgres-graphite.rb"
Postgres has updated the names of the SQL functions for checking replication status in 10.x

https://www.postgresql.org/docs/10/static/release-10.html

[code]

`check-postgres-replication.rb` seems to be aware of this, and performs a version check, however `metric-postgres-graphite.rb` does not and will simply error in Postgres 10.x.

[code]

[2018-06-22 13:52] jeremyj commented on #1
the solution proposed by @ahes returns a buggy output:

```"output": "Ignoring json-1.8.6 because its extensions are not built.  Try: gem pristine json --version 1.8.6\nIgnoring json-1.8.6 because its extensions are not built.  Try: gem pristine json --version 1.8.6\nIgnoring json-1.8.6 because its extensions are not built.  Try: gem pristine json --version 1.8.6\nIgnoring json-1.8.6 because its e

[2018-06-22 14:01] jeremyj commented on #1
the solution proposed by @ahes returns a buggy output:

```"output": "Ignoring json-1.8.6 because its extensions are not built.  Try: gem pristine json --version 1.8.6\nIgnoring json-1.8.6 because its extensions are not built.  Try: gem pristine json --version 1.8.6\nIgnoring json-1.8.6 because its extensions are not built.  Try: gem pristine json --version 1.8.6\nIgnoring json-1.8.6 because its e

[2018-06-22 14:08] mikerev commented on #1
@jeremyj https://github.com/sensu-plugins/sensu-pg

[2018-06-22 18:21] majormoses commented on #1
@jeremyj that is not a bug but an env/deploy issue. There are potentially many reasons for that to happen and it is not specific to this gem if you want to hit me up in slack I am more than happy to help you clean that up. The slack link wont work forever (since we are an open source project and do not pay the blood money): https://sensucommunity.slack.com/archives/C68LV5M9U/p1529110949000014 but

[2018-08-29 18:04] pkaeding opened #54 "Multiple-line pgpass file doesn't work"
If I have a [.pgpass](https://www.postgresql.org/docs/9.4/static/libpq-pgpass.html) file with multiple lines, it seems only the first line is used.

I think this is due to the `[0]` in https://github.com/sensu-plugins/sensu-plugins-postgres/blob/1653c8b88f4fe3f7c3844352bc0ef27814403ee0/lib/sensu-plugins-postgres/pgpass.rb#L4 (but I may be wrong there).

Given the postgres docs on the pgpass file f

[2018-08-29 18:12] pkaeding commented on #54
Oh, I just noticed that https://github.com/sensu-plugins/sensu-plugins-postgres#pgpass-file does document this issue, so I guess it is my fault for missing that initially. I suspect that this module is not really supporting the pgpass format in general, though, as wildcards in fields other than the database (eg the host or port) would be misinterpreted?

I'm also curious why this module needs to p

[2018-11-21 18:58] digiisoft opened #70 "check-postgres-replication.rb: undefined method `split' for nil:NilClass"
I ran the following and i'm getting an error.  This is on a Centos 7 box.

[code]

Thanks,

Chris

[2018-12-17 05:00] phumpal commented on #70
Is it possible the values are empty?

I'm slightly confused; the check appears to be pointed to localhost and the default port for both master and slave? Is this not the case?

[2019-03-12 14:08] sys-ops commented on #70
check-postgres-replication.rb
[code]
This is what I got on the slave:
[code]
The row is empty, hence in pgutil.rb
[code]
calls **undefined method `split' for nil:NilClass**

[2019-03-12 19:47] phumpal commented on #70
Better error handling would be nice.

@sys-ops can you confirm replication is configured and running?

Also, @digiisoft @sys-ops please provide Ruby and PostgreSQL versions?

[2019-03-12 20:04] phumpal commented on #70
@majormoses should we improve the replication check to determine replication status prior to computing lag

Perhaps proceeding only when `select pg_is_in_recovery();` is true?

Alternatively we could check state

[code]

This probably requires a bit more thought and potentially a separate issue.

[2019-03-12 21:34] sys-ops commented on #70
Not sure if that would be enough:
[code]
If streaming replication is disabled, or if it has not yet started, the function returns NULL.
Actually, I would check if slave is NULL...
[code]
@phumpal replication was not running (now it is), however it is good to handle such a problem in a proper way.
I will be happy to create a pull request.

[2019-03-13 01:22] majormoses commented on #70
I would lean towards having that be a critical scenario

Actually, I would check if slave is NULL...

I would say this should be a critical rather than a warning, if replication is not enabled or started then there is no point in doing anything with this check.

Since both of these are library methods rather than calling `critical` directly (which makes writing tests much harder) we should return

[2019-03-13 04:08] phumpal commented on #70
@sys-ops your solution looks like a great start. I concur with @majormoses on how to proceed https://github.com/sensu-plugins/sensu-plugins-postgres/issues/70#issuecomment-472242879.

If you have the time a PR would be awesome!

[2019-05-01 21:01] phumpal commented on #52
@jfineberg @majormoses IIRC this can be closed.

[2019-05-01 22:07] majormoses commented on #52
fixed via #69

[2019-05-01 22:07] #52 closed

[2019-05-01 22:23] phumpal commented on #70
@sys-ops I can take this if you don't have time.

[2019-09-27 20:21] phumpal commented on #1
Support for `ruby-2.0.0` was dropped in 90ac91ce337dd4

`ruby-2.0.0` has been EOL since [2016.02.24](https://endoflife.software/programming-languages/server-side-scripting/ruby)

@majormoses is this is a legacy issue? Any sense in keeping it open?

[2019-09-27 23:42] majormoses commented on #1
@phumpal ya all the way to 2.4 has been deprecated: https://www.ruby-lang.org/en/news/2019/03/31/support-of-ruby-2-3-has-ended/ I am not sure if this issue exists in ruby 2.4 or later, if it does not then lets close this out. We could probably update this to 2.4: https://github.com/sensu-plugins/sensu-plugins-postgres/blob/2.3.2/sensu-plugins-postgres.gemspec#L31

[2019-10-04 23:19] #49 closed

[2019-10-04 23:20] majormoses commented on #1
I am gonna close this issue out, we can re-open if this is still an issue on modern rubies and systems. I would appreciate a PR to add something to the wiki if needed rather than leaving this open.

[2019-10-04 23:20] #1 closed

[2019-10-04 23:27] majormoses commented on #54
@pkaeding honestly I am not too sure as I dont really use much postgres I can try to take a closer look, @phumpal do you have any insight before I try diving in? You touched this recently in #104 so figure you might have more context.

[2019-10-05 04:19] phumpal commented on #54
@majormoses I don't see any mention of `libpq` in either the original issue (#9) or the PR (#36) which added `pgpass` support.

As am I however I suspect this is a shortcoming of the [pg gem](https://bitbucket.org/ged/ruby-pg/wiki/Home) and not libpq or `sensu-plugins-postgres` intentionally.

I suspect I should review [the C library](https://www.postgresql.org/docs/11/libpq.html).

The module sup

[2019-11-15 18:51] VeselaHouba opened #109 "Replication check defaults to boolean instead of integer"
When running the check like this:
[code]
I get following output

[code]

When I manually specify timeout, it still has issues as it is casted to boolean instead of integer
[code]

When I edit the file and put some integer value into default
[code]
Then things start working
[code]

Using following ruby on debian10
[code]

[2019-12-02 21:16] phumpal commented on #109
We can try to convert the nil object to an integer for a sensible default

 => nil

 => 0

or pass a sane default. Maybe `2` (IIRC 2s is the _minimum_ `connect_timeout` value for libpq).

@VeselaHouba @majormoses WDYT?

[2019-12-03 03:12] majormoses commented on #109
So looking at: https://github.com/sensu-plugins/sensu-plugins-postgres/blob/3.0.0/bin/check-postgres-replication.rb#L94-L98 I might suggest something along the lines of:
[code]
This will always ensure a boolean regardless of what is passed in. If the upstream PG library only supports values of `2 >` then I think we should add a check and omit the param if `< 2`.
https://github.com/sensu-plugins/se

[2019-12-03 10:45] VeselaHouba commented on #109
Something like this works for me for both defined and undefined, so library can handle 0 as timeout.

[code]

Note the added **=VALUE**  - this is the reason why it kept switching to boolean.

[2019-12-07 09:48] majormoses commented on #109
[code]
No need to `.to_i` on the default, its best to do it for anything passed in via proc.

[2020-01-07 06:00] phumpal commented on #109
Here is the [lipbq implementation](https://github.com/postgres/postgres/blob/master/src/interfaces/libpq/fe-connect.c#L2016-L2041) of connect timeout

[code]

I suspect we can just cast as an int. @majormoses ?

[2020-01-08 05:32] majormoses commented on #109
@phumpal I think this seems like the right solution to me, can one of you try out that patch in 120 and see if that resolves it (I am pretty sure it will).

[2020-01-08 06:53] phumpal commented on #109
@majormoses thanks for putting this together.

Here's the result of #120

[code]

FWIW I am having trouble reproducing the original issue on ruby-2.4.1. I will launch a test box to test on ruby.2.4.0 which was used in the OP.

[2020-01-08 08:40] phumpal commented on #109
### Before 120

[code]

### After 120
[code]

@majormoses I suspect we may need a non-nil default value.

[code]

[2020-01-09 02:11] majormoses commented on #109
@phumpal I decided to set the default to `2` per the code you linked.

[2020-01-10 01:21] #109 closed

[2020-01-10 01:37] majormoses commented on #109
released: https://rubygems.org/gems/sensu-plugins-postgres/versions/4.0.0

[2020-01-17 07:14] phumpal commented on #70
@digiisoft @sys-ops can you try the latest release and see if the issue is fixed?

[2020-02-20 07:40] phumpal commented on #70
@majormoses any chance we can close this? I suspect this is now fixed.

[2020-02-26 19:51] phumpal commented on #70
Ping @majormoses /cc @digiisoft @sys-ops

[2020-02-26 22:14] #70 closed

[2020-05-26 20:55] phumpal opened #131 "Unable to modify frozen string"
After upgrading to [sensu-plugins-postgres v4.0.1](https://github.com/sensu-plugins/sensu-plugins-postgres/releases/tag/4.0.1) some checks with custom parameters fail w/

Setting

`# frozen_string_literal: false`

allows the check to complete successfully.

[2020-06-02 21:25] #131 closed

[2020-11-14 12:40] AndreasUfert opened #153 "bonsai.sensu.io does not provide a build for Ubuntu (any release)"
Hi,

after adding this asset to a Sensu Go backend, no usable build for Ubuntu (LTS) based agents can be found resulting in "entity not filtered, not installing asset build" in the sensu-agent's log when any check is about to run.

Regards, nak

[2021-04-06 09:51] AndreasUfert commented on #153
I guess this PR will solve this? https://github.com/sensu-plugins/sensu-plugins-postgres/pull/157

[2021-09-07 18:31] lrosenman commented on #153
They've merged that PR (#157), but haven't rebuilt it yet on Bonsai.

Who do we have to ask nicely to build it?

[2021-09-16 11:40] #153 closed

[2021-09-16 11:41] AndreasUfert commented on #153
Fixed with Version 4.3.0

[2021-09-23 16:27] mgibson323 opened #179 "Update Ubuntu plugin to use newer version of libpq libraries - release to Bonsai"
To help improve compatibility with latest versions of Postgres on Ubuntu the plugin should be updated with libpq 10+.

Once updated, please release to Bonsai.

(Follow up to #157)

[2021-09-23 16:30] lrosenman commented on #179
Also look into having a non-nil default for -T / --timeout in all the scripts.  libpq12+ breaks the scripts on libpq 12.

[2021-09-23 16:50] lrosenman commented on #179
Note also, libpq is always able to talk to lower releases.  I.E. this should be built with the latest libpq from the latest release from PGDG.

[2021-09-23 18:26] jspaleta commented on #179
Note 1: There is no ubuntu asset.  there is at best a debian platform_family asset

Note 2: ongoing work to refactor is here:
https://github.com/sensu-plugins/sensu-plugins-postgres/tree/js/update-asset-libpq12

Dockerfiles controlling the asset build are found in the directory asset_build_scripts/
Debian platform_family asset build is controlled by `Dockerfile.debian` file and is making use of th

[2021-09-23 18:36] lrosenman commented on #179
Debian's packages are generally behind PGDG's releases.

I personally pull from the apt repo referenced here:
https://wiki.postgresql.org/wiki/Apt

[2021-09-23 18:38] lrosenman commented on #179
PostgreSQL 13 is the latest release, and 14 is starting the release process, for what it's worth.

[2021-09-23 18:39] jspaleta commented on #179
I didnt say debian's packages I said postgresl.org's packages FOR debian

[2021-09-23 18:50] jspaleta commented on #179
This is the file in question. Please review the packaging commands being used to setup the posgresql.org  apt repository and then install libpq-dev package:
`https://github.com/sensu-plugins/sensu-plugins-postgres/blob/js/update-asset-libpq12/asset_build_scripts/Dockerfile.debian`

I have no idea why using the best practice postgresl.org repository isn't pulling a recent enough libpq version. My u

[2021-09-23 19:09] lrosenman commented on #179
you want the libpq5 package:

postgres@postgresql-slave-000:/usr/lib/x86_64-linux-gnu$ dpkg-query -S `pwd`/libpq.so.5.13
libpq5:amd64: /usr/lib/x86_64-linux-gnu/libpq.so.5.13
postgres@postgresql-slave-000:/usr/lib/x86_64-linux-gnu$

[2021-09-23 19:12] lrosenman commented on #179
sorry for not reading clearly :)

[2021-09-23 19:19] jspaleta commented on #179
thanks
I'll update the file and rebuild the test debian family asset in the testing bucket.

[2021-09-23 19:25] lrosenman commented on #179
Can you also look into the -T / --timeout thing with nil, which breaks with the later libpq's?

[2021-09-23 19:32] jspaleta commented on #179
If you can suggest I reasonable default to replace nil to test I can change it.

[2021-09-23 19:34] lrosenman commented on #179
I'd say 10-30 seconds.  If PostgreSQL doesn't respond in that time, there's something wrong, IMO.

[2021-09-23 19:36] jspaleta commented on #179
I'll open a separate branch with that change.  In the meantime can you test and see if explicit use of the --timeout option as an argument works with the next test asset?

[2021-09-23 19:36] lrosenman commented on #179
using -T 10  works with the current test asset, that's how I got around it yesterday.

[2021-09-23 19:37] lrosenman commented on #179
the Alpha @mgibson323  gave me is the test asset I'm using.

[2021-09-23 19:38] lrosenman commented on #179
you'll have to teach me how to get my SensuGo to pull the test asset(s).  Thanks in advance.

[2021-09-23 19:49] jspaleta commented on #179
Okay this should have an updated asset definition that points to the new alpha.2 debian build.
I've also correct the definition so that it uses platform_family filter so it should work on ubuntu without modification.
https://cre-testing.s3.us-west-2.amazonaws.com/sensu-plugins-postgres/sensu-plugins-postgres.yaml

You'll want to review it first, maybe change the asset name as needed for your test,

[2021-09-23 19:55] lrosenman commented on #179
Looks good.  Worked just fine.

[2021-09-23 19:56] jspaleta commented on #179
okay let's get that timeout default fixed up now.
I wonder does timeout 0 disable timeout?

[2021-09-23 19:57] lrosenman commented on #179
not sure.  I do know that it doesn't like "" :)

[2021-09-23 20:00] lrosenman commented on #179
[code]
from: https://www.postgresql.org/docs/13/libpq-connect.html

[2021-09-23 20:06] jspaleta commented on #179
next test build will have 10 second timeout default for all included check executables and should error if argument to timeout is not understandable as an integer.  One of the checks already had 2 default defined instead of nil and was ensuring processing of argument as integer.

[2021-09-23 20:07] lrosenman commented on #179
Great!  let me know when it's ready, and I'll put it in, and remove my -T 10's.

[2021-09-23 20:36] jspaleta commented on #179
Okay repull that s3 bucket url and it will have an updated asset definition pointing to alpha.3 test build

[2021-09-23 20:40] lrosenman commented on #179
Looks Good!  removed my -T 10's and pointed to Alpha.3, and we're golden.  Thanks!

[2021-09-23 20:43] lrosenman commented on #179
can you let me know when it's pushed to Bonsai?  -- Thanks!

[2021-09-23 20:57] jspaleta commented on #179
Well pushed to bonsai is gonna be a bit longer as these changes will need review from someone else as per normal merge/release rules.

I'll keep this issue open and close it when we have a release approved through normal channels.  Until then you can use the test asset.  Once the official asset is releases, we'll empty out the test bucket after you confirm the swtich.

[2021-09-23 20:58] lrosenman commented on #179
Thanks a ton!